table {
  width: 100%;
  border-collapse: collapse;
}
textarea,
input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
input[type=button] {
  min-width: 100px;
}
input[type=file] {
  display: none;
}
th span{
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  display: block;
  margin: 10px 0;
}
thead:first-of-type th span {
  margin-top: 0;
}
td:nth-child(2) {
  text-align: right;
}
.hidden {
  opacity: 0.2;
  pointer-events: none;
}
.note {
  background-color: rgba(0, 0, 0, 0.05);
}
.note p {
  padding: 10px;
}
.hidden {
  display: none;
}
#toast {
  color: blue;
}
