body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 14px;
  margin: 10px;
  color: #ccc;
  background-color: #414141;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}
h1 {
  font-size: 16px;
}
input[type="button"] {
  cursor: pointer;
  background-color: #282828;
  color: #ccc;
  border: none;
  border-radius: 0;
  padding: 7px;
  outline: none;
  min-width: 90px;
}
input[type="button"]:disabled {
  opacity: 0.5;
  cursor: default;
}
#content {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content 1fr;
  align-items: start;
  white-space: nowrap;
  grid-gap: 5px;
  flex: 1;
}
.info {
  display: flex;
  justify-content: end;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
  margin-block: 10px 5px;
}
.done {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
}

textarea {
  white-space: pre;
  height: 100%;
  box-sizing: border-box;
}
a,
a:visited {
  color: #03A9F4;
}
p {
  grid-column: 1 / 3;
}
.note {
  border: solid 2px #a19846;
  padding: 10px;
  background-color: #6e6830;
  color: #fff;
}
#ssdb-info {
  display: none;
}
