input,
body {
  color: #ccc;
}
html {
  height: 100%;
}
body {
  margin: 10px 10px 0 10px;
  height: calc(100% - 10px);
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body[data-top=true] {
  margin: 10px;
  width: 550px;
  height: 400px;
  background-color: #414141;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
}
input[type=button] {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
}
input[type=button]:disabled {
  cursor: default;
  opacity: 0.5;
}

#search-container {
  display: flex;
}
#search-container input[type=search] {
  flex: 1;
  height: 32px;
  text-indent: 10px;
}
#search-container #rate {
  color: #88ae19;
}
#search-container #rate[data-hide=true] {
  display: none;
}

div {
  background-color: #282828;
}

select {
  outline: none;
  background-color: #282828;
  color: #fff;
  border: none;
  margin: 10px 0;
  width: 100%;
  overscroll-behavior: contain;
}
select:empty {
  background-image: url('loading.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
option {
  padding: 5px;
}
a {
  text-decoration: none;
  color: #2db0ff;
}

#toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 10px 0;
}
#toolbar input {
  padding: 10px;
}
#toolbar input:active {
  opacity: 0.5;
}
#message,
#password-needed,
#host-access {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #282828;
}
#host-access {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#password-needed {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#password-needed input,
#host-access input {
  background-color: #414141;
  padding: 10px;
  margin-left: 10px;
}
#password-needed div {
  width: 100%;
  box-sizing: border-box;
}
#password-needed input {
  margin: 10px;
}
#message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 40px);
  padding: 0 20px;
  white-space: pre-line;
  background-color: rgba(0, 0, 0, 0.7);
}
#message:empty {
  display: none;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
.hidden {
  display: none;
}
