html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #ccc;
  background-color: #414141;
}
input[type=button] {
  cursor: pointer;
  background-color: #282828;
  color: #ccc;
  border: none;
  border-radius: 0;
  padding: 7px;
  outline: none;
  min-width: 90px;
}
