<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Joe Ertaba</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>KeePassHelper</string>
	<key>CFBundleIdentifier</key>
	<string>com.add0n.keepass</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>data/popover/index.html</string>
				<key>Height</key>
				<integer>400</integer>
				<key>Identifier</key>
				<string>popover</string>
				<key>Width</key>
				<integer>550</integer>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbar</string>
				<key>Image</key>
				<string>data/icons/16.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>toolbar</string>
				<key>Popover</key>
				<string>popover</string>
				<key>Tool Tip</key>
				<string>KeePassHelper</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>data/inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Helper extension to find and insert logins and passwords without copying them"</string>
	<key>DeveloperIdentifier</key>
	<string>RED8XKG2R4</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://add0n.com/keepass-helper.html</string>
</dict>
</plist>
