body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  margin: 10px auto;
  width: min(800px, 100% - 2rem);
}

textarea {
  padding: 5px;
  border: solid 1px #d4d4d4;
}
select,
button,
input[type=submit],
input[type=button] {
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
}
select,
button,
input[type=number],
input[type=submit],
input[type=button],
input[type=text] {
  border: solid 1px #d4d4d4;
  height: 26px;
}

input[type=button]:disabled {
  opacity: 0.5;
}
table {
  width: 100%;
  border-collapse: collapse;
}
textarea,
input[type=number],
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
}
input[type=file] {
  display: none;
}
select {
  padding: 3px 5px;
  text-align: center;
}
thead:first-of-type th span {
  margin-top: 0;
}
td:nth-child(2) {
  text-align: right;
}
a {
  text-decoration: none;
  color: #07c;
}
.heading {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 5px;
  margin: 10px 0;
  font-size: 1em;
}
.mm1m {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  grid-gap: 5px;
  align-items: center;
}
.m1 {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .mm1m label {
    white-space: nowrap;
  }
  .m1 label {
    white-space: nowrap;
  }
}
.om {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 5px;
  align-items: center;
}
.hidden {
  opacity: 0.2;
  pointer-events: none;
}
.fl {
  display: flex;
  flex-flow: wrap;
  gap: 5px;
  align-items: center;
}
.note {
  background-color: rgba(0, 0, 0, 0.05);
}
.note p {
  padding: 10px;
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.save {
  text-align: center;
  border: solid 1px #e5e5b7;
  background: #ffffc8;
  color: #5f5f4b;
  padding: 10px;
}
.algn {
  display: flex;
  gap: 5px;
}
.algn input[type=radio] {
  margin: 0;
}
.m2 {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 5px;
  align-items: center;

  & > p {
    grid-column: 1 / 3;
  }
  & > div {
    white-space: nowrap;
    display: contents;
  }
  label {
    display: inline-flex;
    align-items: center;
  }
}

#prompt {
  position: absolute;
  left: anchor(center);
  top: anchor(bottom);
  transform: translateX(-50%);
  position-anchor: --password;
  margin: 2px 0;
  box-shadow: 0 0 0 1000vw rgba(0, 0, 0, 0.1);

  div {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
}
#kwpass-download {
  anchor-name: --password;
}
