:root {
  --gap: 5px;
  --box: 10px;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #ccc;
  padding: var(--box);
  width: calc(100% - 2 * var(--box));
  height: calc(100% - 2 * var(--box));
  background-color: #414141;
}
form {
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
}
form > div {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  white-space: nowrap;
  grid-gap: var(--gap);
  align-items: center;
}
input[type=text],
input[type=password] {
  width: 100%;
  box-sizing: border-box;
  text-indent: 5px;
}
input[type=button],
input[type=submit] {
  cursor: pointer;
}
input[type=text],
input[type=submit],
input[type=button],
input[type=password] {
  background-color: #282828;
  color: #ccc;
  border: none;
  border-radius: 0;
  padding: 7px;
  outline: none;
}
input[type=submit][data-cmd=keepass] {
  grid-column: 5/6;
  anchor-name: --password;
}
input[type=submit][data-cmd=ssdb] {
  grid-column: 4/5;
  grid-row: 1;
}
input:disabled {
  opacity: 0.4;
}
.submit {
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content min-content;
  grid-gap: var(--gap);
  align-items: center;
  margin: 0;
  align-self: end;
}
.submit span {
  justify-self: end;
}
.contents {
  display: contents;
}

#prompt {
  background-color: #414141;
  color: #ccc;
  white-space: nowrap;

  p {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 5px;
    align-items: center;
  }
  div {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
}
