:root {
  --gap: 5px;
  --box: 10px;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #ccc;
  padding: var(--box);
  width: calc(100% - 2 * var(--box));
  height: calc(100% - 2 * var(--box));
  background-color: #414141;
}
form {
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
}
form > div {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  white-space: nowrap;
  grid-gap: var(--gap);
  align-items: center;
}
input[type=text],
input[type=password] {
  width: 100%;
  box-sizing: border-box;
  text-indent: 5px;
}
input[type=button],
input[type=submit] {
  cursor: pointer;
}
input[type=text],
input[type=submit],
input[type=button],
input[type=password] {
  background-color: #282828;
  color: #ccc;
  border: none;
  border-radius: 0;
  padding: 7px;
  outline: none;
  min-width: 90px;
}
input:disabled {
  opacity: 0.4;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  align-self: end;
  gap: var(--gap);
}
