@layer {
  dialog.kphelper.save {
    width: 500px;
    height: 250px;
    border: none;
    padding: 0;
    display: flex;
  }
  dialog.kphelper.save::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
  }
  dialog.kphelper.save iframe {
    color-scheme: none;
    border: none;
    width: 100%;
    height: 100%;
  }
}
